<h1 mat-dialog-title>Добавить новый кредит</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Филиал</mat-label>
      <mat-select formControlName="branch" placeholder="Выберите филиал">
        <mat-option value="B-01">Каракалпакский региональный филиал</mat-option>
        <mat-option value="B-02">Берунийский филиал</mat-option>
        <mat-option value="B-03">Кунгиратский филиал</mat-option>
        <mat-option value="B-04">Чимбойский филиал</mat-option>
        <mat-option value="B-05">Андижанский региональный филиал</mat-option>
        <mat-option value="B-06">Кургантепинский филиал</mat-option>
        <mat-option value="B-07">Ходжаабадский филиал</mat-option>
        <mat-option value="B-08">Бухарский региональный филиал</mat-option>
        <mat-option value="B-09">Когонский филиал</mat-option>
        <mat-option value="B-10">Джизакский региональный филиал</mat-option>
        <mat-option value="B-11">Янгиабадский филиал</mat-option>
        <mat-option value="B-12">Кашкадарьинский региональный филиал</mat-option>
        <mat-option value="B-13">Кукдалинский филиал</mat-option>
        <mat-option value="B-14">Яккабагский филиал</mat-option>
        <mat-option value="B-15">Навоийский региональный филиал</mat-option>
        <mat-option value="B-16">Наманганский областной филиал</mat-option>
        <mat-option value="B-17">Папский филиал</mat-option>
        <mat-option value="B-18">Учкурганский филиал</mat-option>
        <mat-option value="B-19">Самаркандский региональный филиал</mat-option>
        <mat-option value="B-20">Каттакурганский филиал</mat-option>
        <mat-option value="B-21">Сурхондарьинский региональный филиал</mat-option>
        <mat-option value="B-22">Кумкурганский филиал</mat-option>
        <mat-option value="B-23">Шурчинский филиал</mat-option>
        <mat-option value="B-24">Джаркурганский филиал</mat-option>
        <mat-option value="B-25">Сариасинский филиал</mat-option>
        <mat-option value="B-26">Сырдарьинский региональный филиал</mat-option>
        <mat-option value="B-27">Ташкентский городской региональный филиал</mat-option>
        <mat-option value="B-28">Ташкентский областной региональный филиал</mat-option>
        <mat-option value="B-29">Ферганский региональный филиал</mat-option>
        <mat-option value="B-30">Хорезмский региональный филиал</mat-option>
        <mat-option value="B-31">Янгиерский филиал</mat-option>
        <mat-option value="B-32">Кокандский филиал</mat-option>
        <mat-option value="B-33">Кувинский филиал</mat-option>
        <mat-option value="B-34">Маргиланский филиал</mat-option>
        <mat-option value="B-35">Ханкинский филиал</mat-option>
        <mat-option value="B-36">Хивинский филиал</mat-option>
        <mat-option value="B-37">Ахангаранский филиал</mat-option>
        <mat-option value="B-38">Бекобадский филиал</mat-option>
        <mat-option value="B-39">Янгиюльский филиал</mat-option>
        <mat-option value="B-40">Газалкентский филиал</mat-option>
        <mat-option value="B-41">Сергелийский филиал</mat-option>
        <mat-option value="B-42">Главное операционное управление</mat-option>
        <mat-option value="B-43">Галаасинский филиал</mat-option>
        <mat-option value="B-44">Яккасарайский филиал</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Вид кредита</mat-label>
      <mat-select formControlName="typeLoan" placeholder="Вид кредита">
        <mat-option value="L-01">Кредитный конвейр</mat-option>
        <mat-option value="L-02">Кредит Overdraft</mat-option>
        <mat-option value="L-03">Автокредит</mat-option>
        <mat-option value="L-04">Ипотечные кредиты</mat-option>
        <mat-option value="L-05">Микрозайм</mat-option>
        <mat-option value="L-06">Ипотечный кредит на жилье в сельской местности</mat-option>
        <mat-option value="L-07">Ипотечные кредиты по новому порядку</mat-option>
        <mat-option value="L-08">Ипотечный кредит на строительство и реконструкцию индивидуального жилья</mat-option>
        <mat-option value="L-09">Потребительский кредит «Зеленый»</mat-option>
        <mat-option value="L-10">Онлайн-кредит</mat-option>
        <mat-option value="L-11">Потребительский кредит</mat-option>
        <mat-option value="L-12">Кредит на образование</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h1>Product Freshness</h1></label>
    <mat-radio-group formControlName="freshness" class="example-radio-group">
      <mat-radio-button 
        *ngFor="let fresh of freshnessList" [value]="fresh"
        class="example-radio-button">
        {{fresh}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput type="number" placeholder="Price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div style="border-top: 3px solid rgb(214, 214, 214);" mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warm" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>