<div class="grid-container">
  <h1 class="mat-h1">Интерактивные услуги</h1>
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="mytitle">
            <a href="https://my.gov.uz/oz/vaccine-info">{{card.title}} </a>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Расширять</button>
              <button mat-menu-item>Удалить</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img class="myimg" height="48px" alt="Logo" src="./assets/images/covid.png">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
