<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Главная страница</a>
      <a mat-list-item routerLink="/page-deposits">Депозиты</a>
      <a mat-list-item routerLink="/page-loans">Кредиты</a>
      <a mat-list-item routerLink="/page-smartvisa">Smart Visa</a>
      <a mat-list-item href="#">HUMO</a>
      <a mat-list-item href="#">VISA</a>
      <a mat-list-item href="#">DepositCard</a>
      <a mat-list-item href="#">Расчетный лист</a>
      <a mat-list-item href="#">Выход</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
