<div class="grid-container">
	<article class="leaderboard">
		<header>
			<h1 class="leaderboard__title">
				<span class="leaderboard__title--top">Smart Visa</span>
				<span class="leaderboard__title--bottom">Персональный кабинет</span>
			</h1>
		</header>
		<main class="leaderboard__profiles">
			<div class="container">
				<div style="margin-top: 10px;">
					<mat-form-field appearance="standard">
						<mat-label>Фильтр</mat-label>
						<input matInput (keyup)="applyFilter($event)" placeholder="15" #input>
					</mat-form-field>

					<div class="mat-elevation-z1 tab-overflow">
						<table mat-table [dataSource]="dataSource" matSort class="mytable">

							<!-- Филиал (Branch) Column -->
							<ng-container matColumnDef="branch">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Филиал </th>
								<td mat-cell *matCellDef="let row"> {{row.branch}} </td>
							</ng-container>

							<!-- Вид кредита (Type of Loan) Column -->
							<ng-container matColumnDef="typeLoan">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Вид кредита </th>
								<td mat-cell *matCellDef="let row"> {{row.typeLoan}} </td>
							</ng-container>

							<!-- Валюта (Type of Currency) Column -->
							<ng-container matColumnDef="currency">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Валюта </th>
								<td mat-cell *matCellDef="let row"> {{row.currency}} </td>
							</ng-container>

							<!-- Дата начала (Start Date) Column -->
							<ng-container matColumnDef="startDate">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Дата начала </th>
								<td mat-cell *matCellDef="let row"> {{row.startDate | date}} </td>
							</ng-container>

							<!-- Дата окончания (Expiration Date) Column -->
							<ng-container matColumnDef="expirationDate">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Дата окончания </th>
								<td mat-cell *matCellDef="let row"> {{row.expirationDate | date}} </td>
							</ng-container>

							<!-- Сумма по договору (amount) Column -->
							<ng-container matColumnDef="amount">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Сумма по договору
								</th>
								<td mat-cell *matCellDef="let row" style="text-align: right;">
									{{row.amount | currency: ' '}} </td>
							</ng-container>

							<!-- Задолженности (arrears) Column -->
							<ng-container matColumnDef="arrears">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>
									Задолженности
								</th>
								<td mat-cell *matCellDef="let row" style="text-align: right;">
									{{row.arrears | currency: ' '}} </td>
							</ng-container>

							<!-- Процент (percent) Column -->
							<ng-container matColumnDef="percent">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Процент </th>
								<td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.percent}}% </td>
							</ng-container>

							<!-- Остаток (balance) Column -->
							<ng-container matColumnDef="balance">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Остаток </th>
								<td mat-cell *matCellDef="let row" style="text-align: right;">
									{{row.balance | currency: ' '}} </td>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="action">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
								<td mat-cell *matCellDef="let row" class="table-actions">
									<button mat-icon-button (click)="editProduct(row)" color="primary">
										<mat-icon>edit</mat-icon>
									</button>
									<button mat-icon-button (click)="deleteProduct(row.id)" color="warn">
										<mat-icon>delete</mat-icon>
									</button>
								</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

							<!-- Row shown when there is no matching data. -->
							<tr class="mat-row" *matNoDataRow>
								<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
							</tr>
						</table>

						<mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" aria-label="Select page of users">
						</mat-paginator>
					</div>
				</div>
			</div>
		</main>
	</article>
	<h1 class="mat-h1">5465654</h1>
</div>
